* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Geneva', sans-serif;
}
body{
    overflow-x: hidden !important ;
}
a,
a:link,
a:active,
a:visited{
    color: #000;
}
.img{
    width: 100%;
    height: 100%;
}
.img-circle{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.right{
    float: right;
}
.left{
    float: left;
}
h1,h2,h3,h4,h5,h6{
    font-family:  'Verdana', sans-serif;
    color: #484a46;
}
p{
    color: #787976;
}
.none{
    display: none;
}
/*////////////////////////////////////////////////*/
.animation_opacity{
    animation-name: opacityAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes opacityAnimation{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.animation_left{
    animation-name: leftAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes leftAnimation{
    0%{margin-left: -100%;}
    100%{margin-left: 0%;}
}
.animation_scale{
    animation-name: scaleAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes scaleAnimation{
    0%{ transform:scale(0) ; -webkit-transform:scale(0) ; -moz-transform:scale(0) ; -ms-transform:scale(0) ; -o-transform:scale(0) ; }
    100%{ transform:scale(1) ; -webkit-transform:scale(1) ; -moz-transform:scale(1) ; -ms-transform:scale(1) ; -o-transform:scale(1) ; }
}
.modal{
    display: none;
    position: relative;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.9);
}
.modal_back{
    float: left;
    width: 100%;
    height: 100%;
}
.modal_exit{
    position: absolute;
    top: 40px;
    left: 0px;
    width: 100%;
    height: auto;
    text-align: right;
    padding-right: 40px;
    font-size: 240%;
    font-weight: 600;
    color: #fff;
}
.modal_gallery-box{
    position: absolute;
    top: 150px;
    left: calc(50% - 700px/2);
    width: 700px;
    height: 450px;
    background-color: #fff;
}
/*/////HEADER/////*/
.headermobile{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    z-index: 5555;
    background-color: #fff;
    box-shadow: 1px 1px 5px #bbb;
}
.headermobile_back{
    display: none;
    float: left;
    width: 100%;
    height: 80px;
}
.header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 9vw;
    z-index: 5555;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
}
.headermobile_logo{
    float: left;
    width: 180px;
    height: 60px;
    margin: 10px 0px 10px 20px;
}
.header_logo{
    float: left;
    width: 21vw;
    height: 7vw;
    margin: calc(4.5vw - 7vw/2) 0px calc(4.5vw - 7vw/2)20px;
}
#headermobile-logo-000,
#header-logo-fff,
#header-logo-000{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
#header-logo-fff{
    background-image: url('../img/logo-white-517x172.png');
}
#header-logo-000{
    display: none;
    background-image: url('../img/logo-black-517x172.png');
}
#headermobile-logo-000{
    background-image: url('../img/logo-black-517x172.png');
}
.headermobile_icon{
    float: right;
    width: 40px;
    height: 30px;
    margin-top: 28px;
    margin-right: 30px;
    cursor: pointer;
}
.header_icon{
    float: right;
    width: 40px;
    height: 30px;
    margin-top: calc(4.5vw - 30px/2);
    margin-right: 30px;
    cursor: pointer;
}
.headermobile_icon-unit{
    float: left;
    width: 100%;
    height: 4px;
    margin-bottom: 5px;
    background-color: #000;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
}
.header_icon-unit{
    float: left;
    width: 100%;
    height: 4px;
    margin-bottom: 5px;
    background-color: #fff;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
}
.header_verticalline{
    float: right;
    width: 1px;
    height: 3vw;
    margin-top: calc(4.5vw - 3vw/2);
    margin-right: 27px;
    background-color: #fff;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
}
.header_nav{
    float: right;
    width: 580px;
    height: auto;
    margin-top: calc(4.5vw - 20px/2);
}
.header_nav-li{
    float: left;
    list-style-type: none;
    width: auto;
    height: auto;
    padding: 0px 10px;
    font-weight: 600;
    color: #fff;
    padding-bottom: 3px;
    border-bottom: 3px solid #0000;
}
.header_nav-li--row{
    float: left;
    width: 100%;
    height: auto;
    color: #fff;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
}
.header_nav-li--row---line{
    float: left;
    width: 0%;
    height: 2px;
    margin-top: 5px;
    margin-left: 50%;
    background-color: #fff;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
#header-nav-li-1:hover #header-nav-li-line-1, 
#header-nav-li-2:hover #header-nav-li-line-2, 
#header-nav-li-3:hover #header-nav-li-line-3, 
#header-nav-li-4:hover #header-nav-li-line-4, 
#header-nav-li-5:hover #header-nav-li-line-5{
    width: 80px;
} 
/*/////HEADER MOBILE/////*/
.headerside_modalexit{
    opacity: 0;
    position: fixed;
    top: 0px;
    left: 100%;
    width: 100%;
    height: 100vh;
    z-index: 7777;
    background-color: rgba(0, 0, 0, 0.8);
    transition: opacity 2s;
    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -ms-transition: opacity 2s;
    -o-transition: opacity 2s;
}
.headerside{
    position: fixed;
    top: 0px;
    left: 100%;
    width: 290px;
    height: 100vh;
    background-color: #222;
    z-index: 8888;
    padding: 30px;
}
.headerside_box{
    float: left;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.headerside_box::-webkit-scrollbar {
    display: none;
    width: 0px;
}
.headerside_box::-webkit-scrollbar-track {
  display: none;  
  background-color: #fff;
  border-left: 1px solid #e2e2e2;
}
/* Handle */
.headerside_box::-webkit-scrollbar-thumb {
  display: none;
  background: #000; 
}
/* Handle on hover */
.headerside_box::-webkit-scrollbar-thumb:hover {
  display: none;
  background: #000; 
}
.headerside_exit{
    float: left;
    width: 100%;
    height: auto;
    margin-bottom: 70px;
    text-align: right;
    font-size: 200%;
    font-weight: 600;
    color: #fff;
}
.headerside_link{
    float: left;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    font-size: 120%;
    font-weight: 600;
}
.headerside_link a span{
    color: #fff;
}
.headerside_link a span:hover{
    color: #888;
}
.headerside_sm{
    float: left;
    width: 100%;
    height: auto;
    margin-top: 40px;
}
.headerside_sm-unit{
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 15px;
    cursor: pointer;
}
.headerside_phone{
    float: left;
    width: 100%;
    height: auto;
    margin-top: 40px;
    font-size: 100%;
    padding-left: 10px;
    color: #fff;
}
/*/////HERO/////*/
.hero{
    position: relative;
    float: left;
    width: 100%;
    height: 100vh;
}
.hero_layer{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2222;
}
.hero_img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: all 2s;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;
}
#hero-img-1{
    background-image: url('../img/hero-1.jpg');
}
#hero-img-2{
    opacity: 0;
    background-image: url('../img/hero-2.jpg');
}
#hero-img-3{
    opacity: 0;
    background-image: url('../img/hero-3.jpg');
}
#hero-img-4{
    opacity: 0;
    background-image: url('../img/hero-4.jpg');
}
.hero_arrowleft,
.hero_arrowright{
    position: absolute;
    top: calc(50% - 70px/2);
    width: 70px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    cursor: pointer;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    z-index: 3333;
}
.hero_arrowleft{
    left: 0px;
}
.hero_arrowleft:hover{
    background-color: rgba(0, 0, 0, 0.85);
}
.hero_arrowright{
    left: calc(100% - 70px);
}
.hero_arrowright:hover{
    background-color: rgba(0, 0, 0, 0.85);
}
.hero_text{
    position: absolute;
    top: 52vh;
    left: 0px;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 480%;
    font-weight: 100;
    color: #fff;
    text-shadow: 3px 3px 7px #000;
    z-index: 2222;
}
#hero-text-1,
#hero-text-2,
#hero-text-3,
#hero-text-4{
    opacity: 0;
}
.hero_button{
    position: absolute;
    top: calc(100% - 110px);
    left: calc(50% - 70px/2);
    width: 60px;
    height: 60px;
    border: 2px solid #fff;
    z-index: 4444;
    text-align: center;
    padding: 21px 19px 19px;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.hero_button-img{
    width: 100%;
    height: 100%;
    background-image: url('../img/arrowwhite-bottom-80x80-noback.png');
    background-position: center;
    background-size: cover;
}
/*//////WHATWEDO//////*/
.whatwedo{
    float: left;
    width: 100%;
    height: auto;
    padding: 100px 20px;
    transition: all 0.7s;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
}
.whatwedo_title{
    float: left;
    width: 100%;
    height: auto;
    padding: 20px 0px 10px;
    text-align: center;
    font-size: 280%;
    font-weight: 600;
}
.whatwedo_subtitle{
    float: left;
    width: 100%;
    height: auto;
    padding: 0px 0px 30px;
    text-align: center;
    font-size: 130%;
    font-weight: 600;
    color: #a0a0a0;
}
.whatwedo_p{
    float: left;
    width: 100%;
    height: auto;
    padding: 0px 80px;
    text-align: center;
}
/*////HOME GRID////*/
.homegrid{
    float: left;
    width: 100%;
    height: auto;
    padding: 50px 0px 100px;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
}
.homegrid_unit{
    position: relative;
    float: left;
    width: 20vw;
    height: 325px;
    margin-left: 4vw;
    cursor: pointer;
    padding:  20px 10px;
    word-wrap: break-word;
}
.homegrid_unit:hover .homegrid_unit-hover,
.homegrid_unit:hover .homegrid_unit-hover--title{
    width: 100%;
    font-size: 140%;
}
.homegrid_unit-hover{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    background-color: rgba(34, 34, 34, 0.96);
    transition: width 1s;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -ms-transition: width 1s;
    -o-transition: width 1s;
    z-index: 3333;
}
.homegrid_unit-hover--title{
    float: left;
    width: 100%;
    height: auto;
    margin-top: 7.8vw;
    font-size: 0%;
    font-weight: 600;
    color: #fff;
    text-align: center;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
.homegrid_unit-img{
    float: left;
    width: 7vw;
    height: 7vw;
    margin: 0px 6.5vw;
    padding: 1vw;
    border: 3px solid #777;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation-name: homegrid-img;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}
#homegrid-unit-img-1{
    animation-delay: 2s;
}
#homegrid-unit-img-2{
    animation-delay: 4s;
}
#homegrid-unit-img-3{
    animation-delay: 6s;
}
#homegrid-unit-img-4{
    animation-delay: 8s;
}
@keyframes homegrid-img{
    0%{ transform:rotate(0deg) ; -webkit-transform:rotate(0deg) ; -moz-transform:rotate(0deg) ; -ms-transform:rotate(0deg) ; -o-transform:rotate(0deg) ; }
    20%{ transform:rotate(360deg) ; -webkit-transform:rotate(360deg) ; -moz-transform:rotate(360deg) ; -ms-transform:rotate(360deg) ; -o-transform:rotate(360deg) ; }
    100%{ transform:rotate(0deg) ; -webkit-transform:rotate(0deg) ; -moz-transform:rotate(0deg) ; -ms-transform:rotate(0deg) ; -o-transform:rotate(0deg) ; }
}
.homegrid_unit-title{
    float: left;
    width: 100%;
    height: auto;
    padding: 30px 0px 10px;
    text-align: center;
    font-size: 130%;
    font-weight: 600;
    color: #707070;
}
.homegrid_unit-text{
    float: left;
    width: 100%;
    height: auto;
    text-align: center;
}
/*////////CONTACT-1////////*/
.section_contact{
    float: left;
    width: 100%;
    height: auto;
    padding: 50px 10% 100px;
    background-color: #f9f9f9;
}
.contact_text{
    float: left;
    width: 50%;
    height: auto;
}
.contact_text-titleon{
    float: left;
    width: 100%;
    height: auto;
    padding-bottom: 2px;
    font-weight: 600;
    color: #888;
}
.contact_text-title{
    float: left;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    font-size: 240%;
    font-weight: 600;
}
.contact_text-p{
    float: left;
    width: 100%;
    height: auto;
    line-height: 25px;
    color: #888;
    padding-bottom: 20px;
}
.contact_text-list{
    float: left;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    color: #888;
    line-height: 30px;
}
.contact_text-list-icon{
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-color: #000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 7px;
}
.contact_text-list-icon--location,
.contact_text-list-icon--phone,
.contact_text-list-icon--email{
    float: left;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
.contact_text-list-icon--location{
    background-image: url('../img/location-fff-45x45.png');
}
.contact_text-list-icon--phone{
    background-image: url('../img/phone-fff-45x45.png');
}
.contact_text-list-icon--email{
    background-image: url('../img/email-fff-45x45.png');
}
.contact_text-list--text{
    float: left;
    height: auto;
}
.contact_text-subtitle{
    float: left;
    width: 100%;
    height: auto;
    padding: 20px 0px 20px;
    font-size: 170%;
    font-weight: 600;
}
.contact_text-sm{
    float: left;
    width: 60px;
    height: 60px;
    margin-left: 15px;
    background-color: #000;
    padding: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    margin-bottom: 20px;
}
.contact_text-sm:hover{
    background-color: #555;
}
.contact_text-sm--facebook,
.contact_text-sm--instagram,
.contact_text-sm--whatsapp,
.contact_text-sm--phone,
.contact_text-sm--email{
    float: left;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
.contact_text-sm--facebook{
    background-image: url('../img/facebook-fff-logo-45x45.png');
}
.contact_text-sm--instagram{
    background-image: url('../img/instagram-fff-45x45.png');
}
.contact_text-sm--whatsapp{
    background-image: url('../img/whatsapp-fff-45x45.png');
}
.contact_text-sm--phone{
    background-image: url('../img/phone-fff-45x45.png');
}
.contact_text-sm--email{
    background-image: url('../img/email-fff-45x45.png');
}
.contact_form{
    float: left;
    width: 47%;
    height: auto;
    padding-top: 60px;
    margin-left: 3%;
}
.contact_form-input{
    float: left;
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 160%;
    margin-bottom: 20px;
    border: 3px solid #000;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    outline: none;
}
.contact_form-button{
    float: left;
    width: 220px;
    height: 80px;
    margin-top: 20px;
    margin-left: calc(50% - 220px/2);
    font-size: 200%;
    font-weight: 600;
    color: #fff;
    border: none;
    background-color: #000;
    outline: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    cursor: pointer;
}
.contact_form-button:hover{
    background-color: #5c7281;
}
.success_contact{
    float: left;
    width: 100%;
    height: auto;
    text-align: center;
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
.success_contact-img{
    float: left;
    width: 200px;
    height: 200px;
    margin: 20px calc(50% - 200px/2);
    background-color: #000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-image: url('../img/correct-fff-220x220-noback.png');
    background-position: center;
    background-size: cover;
}
.success_contact-text--title{
    float: left;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    font-size: 140%;
    font-weight: 600;
    color: #555;
}
.success_contact-text--p{
    float: left;
    width: 100%;
    height: auto;
    color: #555;
    line-height: 22px;
}

/*/////FOOTER/////*/
.section_footer{
    float: left;
    width: 100%;
    height: auto;
    padding: 20px 0px 0px;
    background-color: #000;
}
.footer_logo{
    float: left;
    width: 300px;
    height: 100px;
    margin: 0px calc(50% - 300px/2);
    background-image: url('../img/logo-white-517x172.png');
    background-position: center;
    background-size: cover;
}
.footer_menu{
    float: left;
    width: 620px;
    height: auto;
    padding: 60px 0px 60px;
    margin-left: calc(50% - 620px/2);
}
.footer_menu-row1,
.footer_menu-row2{
    float: left;
    width: auto;
    height: auto;
}
.footer_menu-li{
    float: left;
    height: auto;
    padding: 0px 15px;
    list-style: none;
    font-weight: 600;
    font-size: 100%;
}
.footer_menu-li a li{
    color: #fff;
}
.footer_copyright{
    float: left;
    width: 100%;
    height: auto;
    padding: 30px 0px;
    text-align: center;
    border-top: 2px solid #aaa;
    color: #ccc;
}
/*/////PORTFOLIO/////*/
.heroportfolio_img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url('../img/portfolio/hero-1700x1133.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    transition: all 2s;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;
}
.heroportfolio_text{
    position: absolute;
    top: 290px;
    left: 140px;
    width: 430px;
    height: auto;
    color: #fff;
    z-index: 3333;
}
.heroportfolio_text-title{
    float: left;
    width: 100%;
    height: auto;
    padding-bottom: 15px;
    font-size: 500%;
    font-weight: 100;
    animation-duration: 2s;
    margin-left: -100%;
}
.heroportfolio_text-subtitle{
    float: left;
    width: 100%;
    height: auto;
    font-size: 80%;
    letter-spacing: 3px;
    animation-duration: 2s;
    opacity: 0;
}
.portfolio_text{
    float: left;
    width: 100%;
    height: auto;
    padding: 80px 140px 120px;
    line-height: 34px;
}
.portfolio_text p{
    color: #999;
}
.portfolio_gallery{
    float: left;
    width: 100%;
    height: auto;
    padding-bottom: 80px;
}

.portfolio_gallery-label{
    float: left;
    width: 100%;
    height: 100px;
    line-height: 100px;
}
.portfolio_gallery-label--unit{
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    font-size: 200%;
    font-weight: 600;
}
.portfolio_gallery-label--unit span{
    cursor: pointer;
    color: #ccc;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}
.portfolio_gallery-label--unit span:hover{
    color: #555!important;
}
#portfolio-gallery-box-all,
#portfolio-gallery-box-residencial,
#portfolio-gallery-box-commercial{
    opacity: 0;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
}
.portfolio_gallery-category{
    float: left;
    width: 100%;
    height: auto;
    padding: 40px 0px 20px;
    overflow-x: hidden;
    overflow-y: hidden;
    border-bottom: 2px solid #eee;
    margin-bottom: 70px;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.portfolio_gallery-category::-webkit-scrollbar {
    background-color: #ddd;
    height: 5px;
}
.portfolio_gallery-category::-webkit-scrollbar-track {
    background-color: #fff;
    border-left: 1px solid #e2e2e2;
}
/* Handle */
.portfolio_gallery-category::-webkit-scrollbar-thumb {
    background: #ddd; 
}
/* Handle on hover */
.portfolio_gallery-category::-webkit-scrollbar-thumb:hover {
    background: #ddd; 
}

.portfolio_gallery-category--row{
    float: left;
    width: 100%;
    height: auto;
    padding: 20px 40px;
}
.portfolio_gallery-category--row---unit{
    float: left;
    width: 12.5%;
    height: auto;
    text-align: center;
}
.portfolio_gallery-category--row---unit span{
    cursor: pointer;
    color: #ccc;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.portfolio_gallery-category--row---unit span:hover{
    color: #222!important;
}
.portfolio_gallery-images{
    float: left;
    width: 100%;
    height: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.portfolio_gallery-images--unit{
    position: relative;
    float: left;
    width: 28vw;
    height: 21vw;
    margin-left: 3.8vw;
    margin-bottom: 40px;
    cursor: pointer;
    transition: all .7s;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    -ms-transition: all .7s;
    -o-transition: all .7s;
}
.portfolio_gallery-images--unit---hover{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1111;
    transition: all 0.7s;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
}
.portfolio_gallery-images--unit---img{
    float: left;
    width: 100%;
    height: 100%;
}
.scaleoff{
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}
.sizeoff{
    width: 0%;
    height: 0px;
    margin-left: 0%;
}